/* --------------------------------------------------------
CSSelio – General Design Stylesheet

Version: 1
Last modified: January, 2018
Author: Fernando Ortiz Rico Celio
Email: fernando.ortizrc@outlook.com
----------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Muli:300,600,700,800');
@import url("wideDisplay.css");
@import url("mediumDisplay.css");
@import url("mobile.css");


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Muli', sans-serif;
    outline: none;
}


/*     GRID     */
.one {
    min-width: 100% !important;
}

.two {
    min-width: calc(49% - 10px) !important;
    margin-right: 10px;
}

.flexOne {
	flex-basis: 350px;
	margin-left: 4px;
	margin-right: 4px;
	flex-grow: 3;
}

.flexTwo {
	flex-basis: 300px;
	margin-left: 4px;
	margin-right: 4px;
	flex-grow: 3;
}

.flexThree {
	flex-basis: 240px;
	margin-left: 4px;
	margin-right: 4px;
	flex-grow: 2;
}

.flexFour {
	flex-basis: 125px;
	margin-left: 4px;
	margin-right: 4px;
	flex-grow: 1;
}



h1 {
    color: #202020;
    letter-spacing: 1.9px;
    font-weight: 800;
}

h2 {
    font-weight: 800;
    color: #202020;
    letter-spacing: 1.5px;
}

h3 {
    font-weight: 700;
    color: #202020;
    letter-spacing: 0;
}

label {
    font-weight: 700;
		color: #363636;
}

p.instructions {
    font-weight: 300;
    color: #363636;
}

p {
    font-weight: 300;
    color: #363636;
}

a {
    font-weight: 700;
    color: #02838D;
    cursor: pointer;
    text-decoration: none;
    transition: .4s;
}

/*
a:hover, a:active {
    text-decoration: underline;
}
*/

p.instructions, p, a {
    letter-spacing: 0.7px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"], select {
    -webkit-appearance:none;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    font-weight: 300;
    color: #202020;
    transition: .3s;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="search"]:focus {
    border: 1px solid #00B4C2;
}

.inputError {
    border: 1px solid #E80031 !important;
    color: #E80031 !important;
		background: url(../../images/new/alert.svg) white no-repeat right 10px center !important;
    padding: 5px 35px 5px 10px !important;
    box-sizing: border-box;
}

.inputDisabled {
    border: 1px solid #F5F5F5 !important;
    background: #D3D3D3 !important;
		color: #202020;
}

select {
    background: url(../../images/new/chevron-down.svg) white no-repeat right 10px center;
    padding: 5px 35px 5px 10px;
    box-sizing: border-box;
}

option {
    background: red;
}

input[type="search"] {
    background: url(../../images/new/search.svg) white no-repeat left 10px center;
    background-size: 16px;
    -webkit-appearance:none;
    border: 1px solid #9B9B9B;
    border-radius: 20px;
    padding: 5px 10px 5px 30px;
    box-sizing: border-box;
    font-weight: 300;
    color: #363636;
    transition: .3s;
}

.topBarTranslucent {
    background: rgba(255,255,255,0.80);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.20);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.flexCenterSides {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.flexCenterRight {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

.flexCenterRight a {
	float: right;
}

.mainButton {
    background: #02838D;
    box-shadow: 0 6px 8px 0 rgba(2,131,141,0.40);
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    -webkit-appearance:none;
}

.mainButton:hover {
    box-shadow: 0 2px 4px 0 rgba(2,131,141,0.40);
    filter: brightness(0.92);
}

.mainButton:active {
    filter: brightness(1.1);
}

.secondButton {
    border: 1px solid #02838D;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    background: white;
    font-weight: 700;
    font-size: 16px;
    color: #02838D;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
}

.disabled {
    filter: saturate(0.3);
    opacity: 0.8;
    cursor: default;
    box-shadow: none !important;
}

.thirdButton {
    border: 1px solid #3B5780;
    padding: 5px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    background: #3B5780;
    border-radius: 100px;
		height: 35px;
}

.thirdButtonInactive {
    border: 1px solid #3B5780 !important;
    background: #FFFFFF !important;
    color: #3B5780 !important;
}

.thirdButtonSup {
		background: #D0D6DE;
    border: 1px solid #D0D6DE;
    color: #3B5780;
    box-shadow: none !important;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
		height: 35px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    padding: 40px;
    box-sizing: border-box;
}

body.gray {
    background: #e7e7e7;
}

a.second {
    margin-top: 15px !important;
    text-align: center;
    width: 100%;
}

.twoButtonsArea {
    width: calc(100% - 80px);;
    bottom: 40px;
    position: absolute;
    float: left;
    margin: auto;
}

.twoButtonsArea input[type="submit"], .twoButtonsArea a {
    float: left;
}

.twoButtonsArea input[type="submit"], .twoButtonsArea button {
    margin-top: 0;
}

.cardContent {
    width: 100%;
}

.flexSpace {
    display: flex;
    flex-flow: row nowrap;
    justify-content:  space-between;
}

.multipleChoice {
    background: #FFFFFF;
    border-radius: 6px;
    color: #02838D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: left;
    text-align: center;
    border: 2px solid #02838D;
    flex-flow: column nowrap;
    max-width: 44%;
}

.mOn {
    color: #FFFFFF;
    background: #02838D;
}

.mOn img {
    filter: contrast(0) brightness(2);
}


.multipleChoice img {
    margin-bottom: 5px;
}

input[type="radio"] {
  display: none;
}

.notification {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    min-height: 80px;
    width: 300px;
    position: fixed;
    margin: auto;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: white !important;
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    transition: .4s;
}

.errorNotif:hover, .infoNotif:hover {
    opacity: .8 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05) !important;
}

@keyframes showNotification {
    from {left: -300px;}
    to {left: 20px;}
}

.errorNotif {
    background: rgba(232,0,49,.9);
    cursor: pointer;
		animation-name: showNotification;
		animation-duration: .5s;
		z-index: 99;
}

.infoNotif {
		background: #00808A;
    cursor: pointer;
		animation-name: showNotification;
		animation-duration: .5s;
		z-index: 99;
}

.errorNotif img, .infoNotif img {
    width: 35px;
    filter: contrast(0) brightness(2);
    float: left;
    margin-top: 5px;
		cursor: pointer;

}

.errorNotif label, .errorNotif p, .infoNotif label, .infoNotif p {
    color: #FFFFFF;
    float: left;
    width: calc(100% - 45px);
    margin-left: 10px;
		cursor: pointer;
}

.closeButton {
    height: 15px;
    background: url(../../images/new/x.svg) no-repeat;
    width: 15px;
    border: none;
    border-radius: 0;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.warningNotif {
	background: #FFFFFF;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
	border-radius: 8px;
	height: 180px;
	width: 480px !important;
	padding: 25px !important;
	box-sizing: border-box;
	margin: auto;
	top: -0px !important;
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	z-index: 99;
}

.warningNotif label {
    /*aumentar tamaño*/
}

.warningNotif img {
    height: 45px;
    margin-bottom: 85px;
    float: left;
    margin-right: 25px;
}

.warningNotif label, .warningNotif p {
    width: calc(100% - 85px);
    float: left;
		color: #363636;
}

.warningNotif div {
    width: calc(100% - 50px);
    position: absolute;
    bottom: 25px;
}

.warningNotif div button {
    float: right;
    margin-left: 10px;
}

.warningNotif .thirdButton {
    box-shadow: 0 2px 4px 0 rgba(59,87,128,0.50);
    transition: .4s;
}

.warningNotif .thirdButton:hover {
    box-shadow: 0 2px 2px 0 rgba(59,87,128,0.25);
}

.blackBack {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 90;
	background: rgba(0,0,0,.15);
}

.topBarTranslucent #logoSalud {
    float: left;
    width: auto;
}

.topBarTranslucent #options {
    float: right;
    position: relative;
}

.topBarTranslucent #options a {
    float: right;
    cursor: pointer;
}

.topBarTranslucent #options a img:hover {
	transition: .2s;
	transform: scale(1.2);
}

.topBarTranslucent #options a img:active {
	transition: .2s;
	transform: scale(0.9);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: rgba(0, 0, 0, .7);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;

    /* Position the tooltip text */
    position: absolute;
    z-index: 20;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.leftTooltip .leftTooltiptext {
		visibility: hidden;
    min-width: 120px;
    background-color: rgba(0, 0, 0, .7);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;

    /* Position the tooltip text */
    position: absolute;
    z-index: 20;
		top: -5px;
    right: 105%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.leftTooltip .leftTooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.formBox {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    float: left;
}

.formBoxHeader {
	width: calc(100% + 40px);
	margin-left: -20px;
	border-bottom: 1px solid #9B9B9B;
	margin-bottom: 20px;
	height: 60px;
}

.formBox button, .formBox #testContent input[type="submit"] {
	float: right !important;
}

.flexFormSpace {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
