/* --------------------------------------------------------
CSSelio – Mobile Display Stylesheet

Version: 1
Last modified: February, 2018
Author: Fernando Ortiz Rico Celio
Email: fernando.ortizrc@outlook.com
----------------------------------------------------------*/

@media only screen and (max-width: 500px) {
    body {
        border-radius: 8px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 24px;
    }

    label {
        font-size: 14px;
    }

    p.instructions {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"], select, input[type="search"], input[type="phone"] {
        height: 35px;
        font-size: 14px;
				margin-bottom: 10px;
    }

		textarea {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.mainButton, .mainButtonDisabled, .secondButton {
        height: 40px;
        margin-top: 45px;
    }

    .thirdButton, .thirdButtonSup {
        height: 35px;
        min-width: 100px;
				font-size: 15px;
    }

		.thirdButton img {
			max-height: 13px;
			margin-right: 10px;
			fill: #005C63;
		}

		.toolButton, .toolButtonAdd {
			min-height: 40px;
			min-width: 40px;
			max-height: 40px;
			max-width: 40px;
		}

		.toolButtonAdd {
			background: url(../../images/new/plus.svg) #02838D no-repeat;
			background-size: 18px !important;
			background-position: 11px 11px !important;
		}

		.toolButton img {
			max-height: 18px;
			max-width: 18px;
			filter: contrast(0) brightness(2);
		}

    #sideBar {
        width: 100%;
        height: 0px;
        background: rgba(255,255,255,.9);
        -webkit-backdrop-filter:blur(10px);
        backdrop-filter:blur(10px);
        position: fixed;
        z-index: 98;
        margin-top: 60px;
        float: left;
        display: none;
				transition: 1s all;
    }


		#sideBar h3 {
			margin-bottom: 10px;
			border-bottom: 1px solid #363636;
			width: auto;
			padding-bottom: 10px;
			margin-top: 70px;
		}


    #mainContent {
        width: 100%;
        padding: 15px;
        margin: auto ;
        padding-top: 80px;
        box-sizing: border-box;
				overflow-x: hidden;
    }

    .card {
        width: 100% !important;
        min-height: 100%;
    }

    #logoSalud {
        width: 80px;
        margin-left: calc(50% - 40px);
        margin-right: calc(50% - 40px);
        margin-bottom: 45px;
    }

    .multipleChoice {
        padding: 5px;
        min-height: 110px;
        font-size: 15px;
        max-width: 42%;
        margin-top: 20px;
    }

		.topBarTranslucent #logoSalud {
		    height: 20px;
		}

		.topBarTranslucent #options {
			display: none;
			position: fixed !important;
			margin-top: 70px;
			height: 50px;
			padding: 10px;
			box-sizing: border-box;
			width: calc(100% - 40px);
		}

		.topBarTranslucent #options a {
		    max-height: 40px;
		    margin-left: 15px;
		}

		#menuIcon img {
			max-width: 30px;
		}

		.topBarTranslucent #options a img {
		    height: 30px;
		}

		#menuIcon {
			display: block;
		}

		#patientData div {
			display: none;
		}

		#patientData img {
			margin-left: 0 !important;
		}

		.showStuff {
			display: block !important;
			height: calc(100% - 60px);
		}

		.showIcons {
			display: flex !important;
			flex-flow: row nowrap !important;
			justify-content: center !important;
			align-items: center !important;
		}

		.unscrollable {
			overflow-y: hidden !important;
			position: fixed;
		}
}
